{% extends "base.html" %}

{% block title %}{{ schema.name }} reference{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    {{ schema.name }} reference
</p>

<h1>{{ schema.name }} reference</h1>

<h2>Examples</h2>
<p>
{% for example in featured_examples %}
<a href="{% relative_url_string example.get_absolute_url %}">{{ example.name }}</a> ·
{% endfor %}
<a href="{% relative_url_string schema.examples_url %}">See all…</a>
</p>
{% endblock %}
